{% load static %}
{% load sass_tags %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/prac.css' %}">
    <link href="{% sass_src 'css/prac.scss' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/prac.js' %}"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="carousel">
      <figure>
        <img src="https://source.unsplash.com/7mUXaBBrhoA/800x533" alt="">
        <img src="https://source.unsplash.com/bjhrzvzZeq4/800x533" alt="">
        <img src="https://source.unsplash.com/EbuaKnSm8Zw/800x533" alt="">
        <img src="https://source.unsplash.com/kG38b7CFzTY/800x533" alt="">
        <img src="https://source.unsplash.com/nvzvOPQW0gc/800x533" alt="">
        <img src="https://source.unsplash.com/mCg0ZgD7BgU/800x533" alt="">
        <img src="https://source.unsplash.com/1FWICvPQdkY/800x533" alt="">
        <img src="https://source.unsplash.com/VkwRmha1_tI/800x533" alt="">
      </figure>
      <nav>
        <button class="nav prev">Prev</button>
        <button class="nav next">Next</button>
      </nav>
    </div>

    <h2>Eight images</h2>
      <div class="carousel">
        <figure>
          <img src="https://source.unsplash.com/nvzvOPQW0gc/800x533" alt="">
          <img src="https://source.unsplash.com/nvzvOPQW0gc/800x533" alt="">
          <img src="https://source.unsplash.com/EbuaKnSm8Zw/800x533" alt="">
          <img src="https://source.unsplash.com/kG38b7CFzTY/800x533" alt="">
          <img src="https://source.unsplash.com/mCg0ZgD7BgU/800x533" alt="">
          <img src="https://source.unsplash.com/VkwRmha1_tI/800x533" alt="">
          <img src="https://source.unsplash.com/VkwRmha1_tI/800x533" alt="">
          <img src="https://source.unsplash.com/VkwRmha1_tI/800x533" alt="">
        </figure>
        <nav>
          <button class="nav prev">Prev</button>
          <button class="nav next">Next</button>
        </nav>
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/prac.js' %}"></script>
  </body>
</html>