{% load humanize %}

<div class="content-feed mx-auto">
    {% for post in posts %}
      <div class="card-content">
        <div class="row">
          <div class="col-md-12 mx-auto">Posted by <a class="no-dec owner" href="{% url 'image_boards:user_posts' post.owner.id %}">{{ post.owner }}</a> {{ post.date_added|naturaltime }}</div>
          <a class="no-dec stretched-link" href="{% url 'image_boards:post' post.id %}">
            <h3 class="col-md-12 mt-2 pl-4 mx-auto">{{ post }}</h3>
          </a>
          <img class="post-image mx-auto" src="{{ post.image.url }}">
        </div>
      </div>
    {% endfor %}
    {% if posts.has_next %}
      <p class="pagination">
        <a class="next-page" href="?page={{ posts.next_page_number }}">More...</a>
      </p>
    {% endif %}
  </div>